<h1>This pattern works!</h1>

<p>Congratulations! By using this pattern you have started a new journey towards kick-starting your web application.
Before using this pattern, make sure that it matches your needs. You can browse a variety of patterns at the <a href="https://github.com/prahladyeri/WebPatterns">github repo</a>.</p>

<h2>Pattern Details</h2>

<p><code>Pattern name: /bootplates</code>
<code>Requirements: bootstrap~3.0 angularjs~1.2.6 angular-ui-bootstrap~0.12.0</code></p>

<p>This Template contains boilerplate code for creating an <code>angularjs</code> bootstrap app. Credit goes to the <a href="http://angular-ui.github.io/bootstrap/">Angular-ui</a> Team for providing the essential dialogService to integrate <code>twitter-bootstrap</code> dialogs with <code>angularjs</code>.</p>

<h2>How To use this Pattern</h2>

<p>The folder structure for this pattern is as follows:</p>

<pre><code>/index.html                 # Main startup file
/static/                    # Contains all static folders
/static/app/                # angularjs app folder
/static/app/controllers     # angular controllers
/static/app/services        # angular services
/static/app/views           # angular views
/static/app/app.js          # main angularjs app
/static/css/                # contains twitter-bootstrap stylesheet and a custom.css stylesheet for this pattern
/static/fonts/              # FontAwesome fonts
/static/js/                 # Javascript for this pattern (custom.js) and a menu.json for static menus
/static/lib/                # Angular and other library scripts.
</code></pre>

<h2>How to edit menus</h2>

<p>The <code>twitter-bootstrap</code> navigation menus for this pattern are easily editable. Just edit the <code>json</code> file <code>/js/menus.json</code> file that specifies the menu structure for this pattern:</p>

<pre><code>["Home", 
        {"Tools":[
            {"text": "Group-1", "link": "", "icon": ""}, 
            {"text": "Alpha View", "link": "alpha", "icon": "tags"}, 
            {"text": "-", "link": "", "icon": ""}, 
            {"text": "Group-2", "link": "", "icon": ""}, 
            {"text": "Beta View", "link": "beta", "icon": "tags"}, 
            {"text": "Gamma View", "link": "gamma", "icon": "tags"}, 
            {"text": "Diagnostics","link": "diagnostics", "icon": "asterisk"}]},
        "About", "Contact"]
</code></pre>

<p>This <code>json</code> structure is pretty straightforward. The main menu is represented by an array where each item is either:</p>

<ul>
<li>A <code>String</code> (for top level menus like Home, etc.). The link is generated automatically, in this case <code>/home</code>.</li>
<li>OR a <code>MenuItem</code> which is basically a Javascript object. It has only three properties:
<ul>
<li><code>text</code>: The text being displayed on the menu link or group, OR <code>-</code> for seperator.</li>
<li><code>link</code>: The actual link or <code>href</code> attribute. Both absolute (<code>http://google.com</code>) and relative (<code>home</code>) urls are fine. Empty string for group item or separators.</li>
<li><code>icon</code>: The <code>Glyphicon</code> name for the icon font-icon needed before the menu text, set an empty string if no icon is needed. For example, setting <code>asterisk</code> will add a <code>&lt;span&gt;</code> element with class <code>glyphicon glyphicon-asterisk</code> before the menu.</li>
</ul></li>
</ul>

<h2>How to set angular <code>controllers</code>, <code>views</code> and <code>services</code>:</h2>

<p>Looking at the folder structure, you will know where to find various angular code components in this pattern. The pattern comes with two example controllers:</p>

<ul>
<li><p><code>diagnosticsController</code>: This controller is used to display a simple web page showing twitter-bootstrap and angular version numbers:</p>

<p>angular.module('bootPlatesApp').controller("diagnosticsController", ['$scope','$location', '$route', '$routeParams', 'dataService', 'delay', function($scope, $location, $route, $routeParams, dataService, delay) {
    console.log('diagnosticsController starts');
    console.log("bt ver: " + delay.bootstrapVersion);
    var vm = this;
    vm.title = $route.title;
    vm.version = dataService.version;
    vm.angularVersion = angular.version.full.toString();
    vm.bootstrapVersion = delay.bootstrapVersion;
    console.log('diagnosticsController ends');
}]);</p></li>
<li><p><code>homeController</code>: Controller for the display of home page.</p></li>
<li><code>authController</code>: Controls user management features - Login/Logout/Register.</li>
</ul>

<p>The corresponding views are <code>diagnostics.html</code> and <code>home.html</code>. Three other views called <code>alpha.html</code>, <code>beta.html</code> and <code>gamma.html</code> come bundled with the pattern as empty place-holders. These views are directly displayed by the routing engine and no controller is defined. You can however, edit the app.js and change the entire routing process as you please:</p>

<pre><code>    .when("/notfound", {
        title: "404 - Not Found",
        templateUrl: thepath + "notfound.html"
    })
    .when("/alpha", {
        title: "Alpha View - Modify as you please",
        templateUrl: thepath + "alpha.html"
    })
    .when("/beta", {
        title: "Beta View - Modify as you please",
        templateUrl: thepath + "beta.html"
    })
    .when("/gamma", {
        title: "Gamma View - Modify as you please",
        templateUrl: thepath + "gamma.html"
    })
    .otherwise({
        redirectTo: '/notfound',
    })
    ;
</code></pre>

<h2>How do I handle backend data?</h2>

<p>You may edit the <code>/app/services/dataService.js</code> template to create an interface to your back-end data. To fetch data during initialization, add some functionality to the empty <code>self.initialize</code> function which is already defined there.</p>

<h2>How do I implement user management (Login/Logout/Register)?</h2>

<p>You may either handle user accounts by creating a separate <code>authService.js</code> file and referencing it in index.html, or by working upon the dataService itself. Since I could not anticipate these preferences on your part, I've left it upon you.</p>

<h2>How do I implement a modal dialog?</h2>

<p>Implementing a modal dialog in your app is pretty straightforward. Basic angular plumbing for showing the dialog is already implemented in <code>dialogService.js</code>. All you now need to do is inject this service in the required controller and call the <code>show()</code> method with your chosen variables. For a reference implementation, refer to the diagnosticsController where a demo button to show the dialog is already implemented:</p>

<p><strong>diagnosticsController.js</strong></p>

<pre><code>//START: Show a demo dialog
var modalOptions = {
    closeButtonText: 'Cancel Me',
    actionButtonText: 'Okay Me',
    headerText: 'Demo Dialog Button',
    bodyText: 'This is a dummy dialog shown from diagnosticsController for your reference.'
};

this.showTheDialog = function(){
    modalService.show({}, modalOptions);
}
//END: Show a demo dialog
</code></pre>

<p><strong>diagnostics.html</strong></p>

<pre><code>&lt;button class="btn-lg btn-primary" ng-click="vm.showTheDialog();"&gt;Dialog Demo&lt;/button&gt;
</code></pre>
